* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* body and background image rules */

body, html {
    height: 100%;
}

body {
    background-image: url("../images/tree_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

/* header rules */

#title {
    float: left;
    font-size: 260%;
    margin-left: 25px;
}

#navmenu {
    letter-spacing: 4px;
}

#navmenu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#navmenu a {
    text-decoration: none;
    color: inherit;
}

#navmenu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}
