* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* body and background image rules */

body, html {
    height: 100%;
}

body {
    background-image: url("../images/tree_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

 /* headings rules  */

#title {
    float: left;
    font-size: 260%;
    margin-left: 25px;
}

h1 {
    text-transform: uppercase;
    color: black;
}

/* nav menu & header rules  */

#navmenu, h1 {
    letter-spacing: 3px;
}

#title, #navmenu {
    line-height: 75px;
}

#navmenu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#navmenu a {
    text-decoration: none;
    color: inherit;
}

#navmenu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* main rules*/

main {
    display: grid;
    grid-template-columns:  500px 500px;
    grid-template-rows: repeat(6, 175px);
    column-gap: 350px;
    justify-items: stretch;
    align-items: center;
    justify-content: center;
    align-content:  center;
    clear: both;
}

/* headshot figure rules */

#headshot {
    border: 1px solid black;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    height: 350px;
}

#headshot img {
  padding: 25px;
}

/* about me rules */

#aboutme {
    border: 1px solid black;
    grid-column: 2 / 3;
    height: 350px;
    grid-row: 2 / 4;
}
