* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* body and background image rules */

body, html {
    height: 100%;
}

body {
    background-image: url("../images/tree_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* header rules */

#title {
    float: left;
    font-size: 260%;
    margin-left: 25px;
}

#navmenu {
    letter-spacing: 4px;
}

#title, #navmenu {
    line-height: 50px;
}

#navmenu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#navmenu a {
    text-decoration: none;
    color: inherit;
}

#navmenu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* main rules*/

main {
    display: grid;
    grid-template-columns:  500px 500px;
    column-gap: 50px;
    justify-items: center;
    align-items: center;
}

/* headshot figure rules */

#headshot {
    border: 1px solid black;
    text-align: center;
    grid-column: 1 / 2;
}

#headshot img {
  padding: 25px;
}

/* about me rules */

#aboutme {
    border: 1px solid black;
    grid-column: 2 / 3;
}
